body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: #eaeaea;
    font-size: 16px;
    color: #777;
}
html{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

a{
    color: #00a67c;
    text-decoration: none;
}

.show-grid{
    margin-bottom: 5px;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border: 1px solid rgba(86,61,124,.2);
}

.title{
    line-height: 45px;
    font-weight: normal;
    color: #a94442e8;
    font-size: 16px;
    height: 45px;
    border-bottom: 1px solid #1abc9c;
    margin: 0px 0px 15px 0px;
    display: block;
}

.list{
    padding-left: 10px;
}

.list li{
    list-style-type: none;
    padding-bottom: 5px;
    padding-top: 5px ;
    font-size: 14px;
}

.list li a{
    float: right;
    text-decoration: none;
}
.series{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    margin-right: 10px;
    color: #ffffff;
}

.excerpt{
    position: relative;
    clear: both;
}

.excerpt header{
    margin: 0 10px 15px 0;
}
.excerpt header .label{
    top:-5px;
    position: relative;
}

.excerpt h1,h2,h3,h4,h5,h6{
    display: inline;
    margin: 0;
    font-weight: normal;
    position: relative;
    top: 1px;
    line-height: 25px;
    margin-left: 10px;
}

.excerpt a{
    top:-2px;
    position: relative;
}

.excerpt .focus{
    margin: 0 20px 0 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:middle;  /*去掉下边距*/
    width: 25%;
    left: 0px;
}

.excerpt .focus-right{
    overflow: hidden;
    position: relative;
    height: 110px;
    width: 70%;
    display: inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:middle;  /*去掉下边距*/
    right: 0px;
}
@media (max-width: 767px) {
    .excerpt .focus {
        margin: 0 10px 0 0;
        float: none;
        display: table;
        position: relative;
        width: 100%;
    }
}

@media (max-width: 767px){
    .excerpt .focus-right {
        font-size: 13px;
        top: 10px;
        overflow: hidden;
        line-height: 20px;
        margin: 0 10px 0 0;
        float: none;
        display: inline;
    }
}

.auth-span{
    float: right;
    margin-top: 10px;
    font-size: 13px;
    margin-bottom: 0px;
    line-height: 13px;
}

.auth-like{
    position: relative;
    display: inline;
    font-size: 13px;
    margin-bottom: 0px;
    line-height: 13px;
    top: 10px;
}

.excerpt .muted{
    margin-right: 10px;
}

.muted {
    color: #999;
}

.page{
    text-align: center;
    width: 100%;
    height: auto;
}

.page button{
    padding: 0px 10px 0px 10px;
    width: 144px;
    height: 53px;
    border-radius: 20px;
    border: 0px;
    font-size: 29px;
    font-weight:bold;
    outline:none;
    color: #000000;
    background-color: #999999;
}

.page b{
    pointer-events:none;
}



.page_left{
    text-align: left;
}

.page_right{
    text-align: right;
}

a img{
    cursor: pointer;
    transition: all 0.6s;
}

a img:hover{
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
}